@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



body{
    overflow-x: hidden;
}
.one {
    height: 100vh;
    width: 100%;

}

header {
    width: 100%;
}

nav {
    background-color: white;
    z-index: 1;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    height: 13vh;
    box-shadow: 1px 1px 1px rgb(231, 229, 229);
    padding: 0 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links {
    width: 450px;
}

.nav-links ul {
    display: flex;
    gap: 25px;
}

.nav-links ul li {
    list-style: none;
}

.nav-links ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #262626;
    transition: 0.5s;
    z-index: 1;
}

.nav-links ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #262626;
    border-bottom: 2px solid #262626;
    transform: scaleY(2);
    opacity: 0;
    transition: 0.3s;
}

.nav-links ul li a:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
}

ul li a:hover {
    color: #fff;
}

ul li a:hover:before {
    transform: scaleY(1);
    opacity: 1;
}

ul li a:hover:after {
    transform: scaleY(1);
    opacity: 1;
}

.icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icons input {
    height: 42px;
    width: 200px;
    text-align: left;
    padding-left: 15px;
    border: 1px solid rgb(197, 190, 190);
}

.icons:nth-child(3), .icons:nth-child(3)  {
    color: rgb(218, 20, 20);
    cursor: pointer;
}

.search {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search button {
    height: 40px;
    width: 30px;
    background-color: rgb(218, 20, 20);
    border-radius: 5px;
    border: none;
}

.search button a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.name {
    width: 20%;
    text-align: left;
}

.name a {
    text-decoration: none;
    color: black;
}

.name h3 {
    padding-left: 40px;
    letter-spacing: 3px;
    font-size: 10px;
}

.name h1 {
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 40px;
}

.one{
    height: 100vh;
    width: 100%;
}
.one .product-view{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.one .left-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height:  80%;
}
.one .right-payment{
    width: 40%;
    height: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.right-payment h4{
    font-size: 18px;
}
.right-payment h4 a{
    text-decoration: none;
    color: red;
}
#add-cart{
    transition: all ease 300ms;
    width: 120px;
    height: 40px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 3px;
}
#add-cart:hover{
    background-color: rgb(49, 38, 38);
    color: white;
}

.two{
    padding: 20px 80px;
    width: 100%;
    height: 170vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
/**************/

.reviews{
    padding-top: 20px;
}
.reviews textarea{
    padding: 10px;
}
.two div{
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


#text-comment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#text{
    height: 150px;
    width: 100%;
}
#add{
    background-color: rgb(219, 70, 70);
    border: none;
    color: white;
    border-radius: 3px;
    height: 40px;
    width: 70px;
}


#post-counter{
    margin-top: 20px;
    height: 50px;
    padding-top:25px ;
    background-color: rgb(251, 251, 253);
}


.comment-section{
    margin-top: 20px;
    padding: 10px;
    text-align: left;
    background-color: rgb(255, 237, 214);
}
.comment-section button{
    margin-top: 10px;
    width: 100px;
    height: 30px;
}
/******related*/
.top {
    padding: 80px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 400px;
}

.image img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.image img:hover {
    scale: 1.09;
}

.item1 .image {
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.price {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 30px;
}

.price .size {
    display: flex;
    gap: 5px;
}

/*footer*/

footer{
    height: 80vh;
    width: 100%;
    background-color: rgb(236, 245, 245);
  }
  .top-footer{
    padding: 50px;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  .top-footer > div{
    line-height: 30px;
    width: 20%;
    padding: 20px;
  }
  .top-footer > div ol{
    list-style: none;
  }
  .top-footer > div a{
    text-decoration: none;
    color: red
  }
  .top-footer > div input{
    height: 40px;
    border: 1px dotted red;
  }
  
  
  .top-footer .Subscribe{
    width: 100px;
    height: 40px;
    background-color: rgb(39, 34, 34);
    border: none;
    border-radius: 5px;
  }
  
  .top-footer .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 25%;
    height: 200px;
    padding: 20px;
  }
  /*footer icons*/
  .icon-container {
    position: relative;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .icon-container button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #313638;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    fill: #fff;
  }
  
  .icon-container button:nth-child(1):hover {
    background-color: #2753a7;
  }
  
  .icon-container button:nth-child(2):hover {
    background-color: #cd242b;
  }
  
  .icon-container button:nth-child(3):hover {
    background-color: #55acee;
  }
  
  .title {
    color: gray;
    font-weight: 700;
    font-size: 17px;
    position: absolute;
    top: -35px;
    left: 0;
  }
  /*;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;*/
  .signup{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .signup input{
    padding: 4px;
  }
  
  .bot-footer{
    padding: 0 20px;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }