@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.one {
    height: 100vh;
    width: 100%;

}

header {
    width: 100%;
}
nav{
    position:fixed;
    background-color:white;
    top: 0;
    z-index: 1;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    height:13vh;
    box-shadow: 1px 1px 1px rgb(231, 229, 229);
    padding: 0 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav-links{
    width:450px;
}
.nav-links ul{
    display: flex;
    gap: 25px;
}
.nav-links ul li{
    list-style: none;
}
.nav-links ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #262626;
  transition: 0.5s;
  z-index: 1;
}
.nav-links ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #262626;
  border-bottom: 2px solid #262626;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.3s;
}
.nav-links ul li a:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}
ul li a:hover {
  color: #fff;
}
ul li a:hover:before {
  transform: scaleY(1);
  opacity: 1;
}
ul li a:hover:after {
  transform: scaleY(1);
  opacity: 1;
}

.icons{
    display: flex;
    gap: 20px;
    align-items: center;
}
.icons input{
    height: 42px;
    width: 200px;
    text-align: left;
    padding-left: 15px;
    border: 1px solid rgb(197, 190, 190);
}
.icons:nth-child(3){
    color: red;
}
.search{
    display: flex;
    align-items: center;
    gap: 5px;
}
.search button{
    height: 40px;
    width: 30px;
    background-color:red;
    border-radius: 5px;
    border: none;
}
.search button a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.name{
    width: 20%;
    text-align: left;
}

.name a{
  text-decoration: none;
  color: black;
}
.name h3{
    padding-left: 40px;
    letter-spacing: 3px;
    font-size: 10px;
}
.name h1{
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 40px;
}
/************/
